<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/mvc3/ex01" method="post">
    아이디 :<input type="text" name="loginId"> <br>
    이름 :<input type="text"name="name"> <br>
    나이 :<input type="text" name="age"> <br>

    성별 :
    남 <input type="radio" name="gender" value="M">
    여 <input type="radio" name="gender" value="F"> <br>

    좋아하는 음식 :
    피자 <input type="checkbox" name="food" value="pizza"> <br>
    사과 <input type="checkbox" name="food" value="apple"> <br>
    파스타 <input type="checkbox" name="food" value="pasta"> <br>
    <button>전송!</button>
</form>
</body>
</html>